/Main.class
/area_trapezio.class
/entrada_de_dados.class
/entrada_de_dados_string.class
/entrada_de_dados_int.class
/entrada_de_dados_double.class
/entrada_de_dados_char.class
/entrada_de_dados_texto.class
/fuctions_math.class
/estruturas_condicionais.class
