/Triangle.class
/Order.class
/Department.class
/HourContract.class
/Worker.class
/Departament.class
/Comment.class
/Post.class
/Account.class
/BusinessAccount.class
/SavingsAccount.class
/SavingsAccountPlus.class
/Employee.class
/OutsourcedEmployee.class
/Shape.class
/Rectangle.class
/Circle.class
